apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: node-exporter
  namespace: demo
spec:
  selector:
    matchLabels:
      app: node-exporter
  template:
    metadata:
      labels:
        app: node-exporter
    spec:
      containers:
      - name: node-exporter
        image: prom/node-exporter:latest
        ports:
        - containerPort: 9100
          hostPort: 9100
        resources:
          limits:
            cpu: 100m
            memory: 50Mi
